@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

#fire_app_check_[DEFAULT]{
    z-index: 200;
}
.background{
    background-size: 300%;
    animation: value 30s ease-in-out infinite;
}

h1, p, h2, h3, h4{
    font-family: "DM Mono", monospace;
    font-style: normal;
}

li a, button, input, li{
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

@keyframes value {
    from,to{background-position: 0%;}
    50%{background-position: 100%;}
}

@layer components{
    .images{
        @apply relative w-full h-full m-auto p-0 bg-transparent
        flex flex-col align-middle justify-center text-center
    }
}